
.use-info{
    display: flex;
    width: 27em;
    height: 15em;
    background: #5746EA;
    border-radius: 12px;
    align-items: center;
}
.use-sing{
    width: 6.5em;
    height: 13em;
    border: 3px solid white;
    border-radius: 40px;
    margin-left: 1.5em;
    margin-top: 3px;
}
.Info-signup{
    font-family: "Roboto";   
    color: white;
    font-size: 1em;
    margin-top: 1.9em;
    line-height: 0;
    margin-left: 2.4em;
}
.Info-para{
    font-size: 2.2em;
    font-weight: 800;
    line-height: 1em;
    color: white;
    margin-left: 1em;
}
.Info-btn{
    color: white;
    font-family: "Roboto";
    background: #9F94FF;
    font-size: 0.6em;
    padding: 0.8em 1.3em;
    border: 10px;
    width: 10em;
    border-radius: 10px;
    display: inline-block;
    margin-left: 2.8em;
    /* margin: 1em; */
    /* text-align: center; */
}